body {
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("./images/hero.jpg")!important;
}

/* #root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
} */

#message {
  margin-top: 0px;
  font-size: 1.5rem;
}

#cooper-message, #cooper-result, #response-message {
  color: beige;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.item {
  flex-basis: auto;
  align-self: center;
}

.content {
  color: white;
  border: 1px solid white;
  background: rgb(57,252,215);
  background: linear-gradient(90deg, rgba(57,252,215,1) 0%, rgba(54,178,196,1) 100%);
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  padding: 5px;
}

label {
  width: 120px;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 5px;
}

nav {
  padding: 10px;
}

nav.a {
  margin: 50px 0;
}

.ui.grid {
  margin-top: 50px;
}

.ui.grid>.row {
  padding-bottom: 0;
}

.ui.grid .centered.row>.column:not(.aligned):not(.justified) {
  text-align: center;
  margin-bottom: 1px;
}

input {
  width: 100%;
}

form {
  width: 100%;
}

.centered.column {
  width: 100%;
}